@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
.wrapper {
    background-color: darkgrey;
    height: 100%;
}
header {
    height: 75px;
    background-color: rgb(43, 43, 43);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header li {
    cursor: pointer;
    margin: 0 10px;
}
header li a:hover {
    color: blueviolet;
}
/* TABS */
a{
    color: #666666;
}
.nav-tabs{
    display: flex;
}
.nav-tab{
    margin-right: 10px;
    border-bottom: 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.nav-tab.active{
    color: blueviolet;
    cursor: default;               
}
.tab-content{
    background: aliceblue;
}
.tab-pane{
    display: none;
    padding: 5px;
}
.tab-pane.active{
    display: flex;
}
/* CONTENT */
.first_span {
    color: #000000;
}
.second_span {
    color: #ff6969;
}